@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 24px;}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #f9f9f9;
    background-image: url(./assets/home-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Varela Round", sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1rem;
    text-align: center;
}

.burger, .menu { position: fixed; }

.burger {
    top: 0;
    left: 0;
    border: 0;
    padding: 0;
    z-index: 4;
    width: 88px;
    height: 88px;
    display: grid;
    cursor: pointer;
    color: #fefefe;
    place-items: center;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url(); */
}

/* body.open .burger { background-image: url(); } */

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 88px;
    aspect-ratio: 1 / 1;
    transition: -50% -50%;
    background: rgb(0 0 0 / 0%);
    transition: 0.6s;
}

body.open .background {
    width: 100vw;
    height: 100vh;
    background: rgb(0 0 0 / 80%);
}

body.open .menu {
    opacity: 1;
    visibility: visible;
}

body .menu .navigation:hover a { opacity: 0.2s; }

body .menu .navigation a:hover {
    opacity: 1;
    transition: 8px 0;
}

.menu {
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.05s;
}

.menu .navigation {
    display: flex;
    padding-left: 100px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.navigation a {
    position: relative;
    opacity: 0;
    cursor: pointer;
    font-size: 32px;
    color: #fefefe;
    text-decoration: none;
    padding: 20px 0 20px 20px;
    transition: 0.4s;
}

.navigation a::after {
    content: "";
    position: absolute;
    top: 38%;
    right: -25px;
    transition: 0 -50%;
    margin-top: 2px;
    height: 10px;
    width: 10px;
    opacity: 0;
    rotate: 45deg;
    border-top: 3px solid #fefefe;
    border-right: 3px solid #fefefe;
    transition: 0.3s;
}

.navigation a:hover::after { opacity: 1; }

@keyframes appear {
    0% {
        opacity: 0;
        transition: -30px 0;
    }
    100% { opacity: 1; }
}

body.open .menu .navigation a {
    opacity: 1;
    animation: appear 0.25s backwards;
}
