@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    transition: background-color 1s ease;
    text-align: center;
}

h1 {
    width: 80%;
    margin-bottom: 20px;
}

button {
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
