@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-textarea: #15161f;
  --color-textarea: #171717;
}

h2 {
  font-variant: small-caps;
}

h3 {
  opacity: 0.4;
  font-weight: 500;
  font-variant: small-caps;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  color: #fefefe;
  background-color: #141414;
  font-family: "Poppins", sans-serif;
}

.widget {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.textarea-wrapper {
  position: relative;
  width: 650px;
  min-width: 500px;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 40px rgb(0 0 0 / 8%);
  background-color: var(--color-textarea);
  border: 1px solid rgb(255 255 255 / 5%);
}

.textarea-wrapper::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  transform-origin: 50%;
  transform: rotate(45deg);
  background: radial-gradient(
    rgb(51, 58, 255),
    var(--color-textarea) 100%,
    transparent 50%
  );
  mask-image: linear-gradient(90deg, #0000, #000 20%, #000 80%, #0000);
  offset-path: rect(0 auto 100% auto);
  animation: 4.5s linear infinite glow-move both;
}

@keyframes glow-move {
  0% {
    opacity: 1;
    offset-distance: 0%;
  }
  10%,
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    offset-distance: 100%;
  }
}

.textarea-wrapper-inner {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 10px;
  background-color: var(--color-textarea);
}

.textarea-placeholder {
  position: absolute;
  top: 10px;
  left: 16px;
  width: 100%;
  opacity: 0.35;
  white-space: nowrap;
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 4px;
}
.textarea-placeholder {
  position: absolute;
  top: 10px;
  left: 16px;
  /* width: calc(100% - 32px);  */
  width: 100%;
  opacity: 0.35;
  white-space: normal;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  overflow-wrap: break-word;
}

.typewrite-text {
  position: relative;
}

.typewrite-text-bg {
  position: absolute;
  inset: 0;
  transform-origin: 100% 500%;
  animation: typewriter 3s infinite both linear;
}

@keyframes typewriter {
  0%,
  20% {
    transform: scaleX(0);
  }
  50%,
  70% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

textarea {
  border: 0;
  width: 100%;
  resize: none;
  outline: none;
  font-size: 15px;
  color: #fefefe;
  padding: 10px 10px;
  background: transparent;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px 8px 16px;
  width: 100%;
}

.footer button {
  border: 0;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: inherit;
  background: rgb(255 255 255 / 4%);
  transition: 0.3s;
}
