* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    color: #fefefe;
    font-family: "Poppins", sans-serif;
    background-color: #080808;
}

.container {
    border: none;
    width: 550px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #171717;
    border-radius: 10px;
}

.container .title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.container .alarm-form {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.alarm-form input,
.alarm-form button {
    border: none;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}

.alarm-message {
    width: 100%;
}

.alarm-form button {
    cursor: pointer;
    color: #fefefe;
    background-color: #333333;
}

.alarm-form button:hover {
    border: 1px solid #333333;
    background-color: #1a1a1a;
}

.alarm-form button:active {
    transform: translateY(2px);
}

.alarm-info {
    font-size: 1.2rem;
}