@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fefefe;
  background-color: #1d2222;
  backdrop-filter: blur(2px);
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  top: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 260px;
  padding: 0 16px;
  border-radius: 16px;
  background: rgb(0 0 0 /19%);
  backdrop-filter: blur(30px);
  transition: width 0.4s;
}

.sidebar header {
  display: flex;
  align-items: center;
  height: 72px;
  gap: 10px;
  padding-top: 10px;
  font-variant: small-caps;
  border-bottom: 1px solid rgb(255 255 255 / 8%);
}

.sidebar header img {
  height: 44px;
  border-radius: 3px;
}

.sidebar button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  font-weight: inherit;
  background: transparent;
  color: rgb(255 255 255 / 95%);
}

.sidebar button p:nth-child(2) {
  flex: 1 1 auto;
}

.sidebar button.active {
  background: rgb(0 0 0 / 15%);
}

.sidebar button .icon {
  transition: 0.3s;
}

.sidebar button.active .icon:nth-child(3) {
  rotate: -180deg;
}

.sidebar button:not(.active):hover {
  background: rgb(0 0 0 / 5%);
}

.sidebar ul {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.sub-menu {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.sub-menu ul {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
}

.sub-menu button {
  padding-left: 48px;
}

.sub-menu button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 22.5px;
  translate: 0 -50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(255 255 255 / 35%);
}

.sidebar .icon {
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  font-size: 20px;
}
